@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap');

body {
  margin: 0;

  width: 100vw;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Ubuntu', sans-serif;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #1db954;
}

::selection {
  color: white;
  background: #1db954;
}

img::-moz-selection { /* Code for Firefox */
  color: rgba(255, 255, 255, 0);
  background: #19863f00;
}

img::selection {
  color: rgba(255, 255, 255, 0);
  background: #37704b00;
}


